<!DOCTYPE html>
<html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Crypto</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Fiat</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Shares</a></li>
                <li><a href="#" class="nav-link px-2 text-white">About</a></li>
            </ul>

            <div class="text-end">
                <button type="button" class="btn btn-outline-light me-2">Login</button>
                <button type="button" class="btn btn-warning">Sign-up</button>
            </div>
        </div>
    </div>
</header>
<body>

<div class="row justify-content-md-center">
    <div class="col-8" style="padding-top: 20px; padding-bottom: 20px">
        <h5>Live Data</h5>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-8">
        <div id="displayTable1"></div>
        <div id="displayTable2"></div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script>
    google.charts.load('current', {packages: ['table']});
    google.setOnLoadCallback(Initialize);

    var options = {
        dateFormat: 'HH:mm:ss',
        textAlignLast: 'right'
    };

    function Initialize() {
        data = new google.visualization.DataTable();
        data.addColumn('string', 'Symbol');
        data.addColumn('datetime', 'Update Time');
        data.addColumn('string', 'Open');
        return data;
    }

    function streamLiveCpuUsage() {

        if ("WebSocket" in window) {
            console.log("WebSocket is supported by your Browser!");

            // Let us open a web socket
            var url = "localhost:8081";
            console.log(url);
            var ws = new WebSocket("ws://" + url + "/stream");

            ws.onmessage = function (event) {
                console.log(`[message] Data received from server: ${event.data}`);

                symbol = 'SOL-USD'
                curTime = new Date();
                var curCount = JSON.parse(`${event.data}`);
                yVal = curCount.midPrice;
                data.addRows([[symbol, curTime, yVal.toFixed(2)]]);


                var chartTbl1 = new google.visualization.Table(document.getElementById('displayTable1'));
                chartTbl1.draw(data, options);


                var chartTbl2 = new google.visualization.Table(document.getElementById('displayTable2'));
                chartTbl2.draw(data, options);

                data.removeRow(0);
            };

            ws.onclose = function (event) {
                if (event.wasClean) {
                    console.log(`[close] Connection closed cleanly, code=${event.code} reason=${event.reason}`);
                } else {
                    // e.g. server process killed or network down
                    // event.code is usually 1006 in this case
                    console.log('[close] Connection died');
                }
            };

            ws.onerror = function (error) {
                console.log(`[error] ${error.message}`);
            };

        } else {

            // The browser doesn't support WebSocket
            console.log("WebSocket NOT supported by your Browser!");
        }
    }
    streamLiveCpuUsage();
</script>
</body>
</html>